## Question 2

In [6]:
# Q2: Write Python programs to print strings in the given manner
# a) Hello Everyone !!!
print("Hello Everyone !!!")

# b) Hello World
print("Hello\nWorld")

# c) Hello              World
print("Hello              World")

# d) 'Rohit's date of birth is 12\05\1999'
print("'Rohit\'s date of birth is 12\\05\\1999'")

Hello Everyone !!!
Hello
World
Hello              World
'Rohit's date of birth is 12\05\1999'

## Question 3

In [7]:
# Q3: Declare a string variable called x and assign it the value “Hello”.
# Print out the value of x
x = "Hello"
print(x)

Hello

## Questionn 4

In [8]:
# Q4: Take different data types and print values using print function.
var_int = 5
var_float = 3.14
var_str = "Hello"
var_bool = True
print(var_int, var_float, var_str, var_bool)

5 3.14 Hello True

## Question 5

In [9]:
# Q5: Take two variables a and b. Assign your first name and last name.
# Print your Name after adding your First name and Last name together.
a = "John"
b = "Doe"
print(a + " " + b)

John Doe

## Question 6

In [10]:
# Q6: Declare three variables, consisting of your first name, your last name, and Nickname.
# Write a program that prints out your first name, then your nickname in parenthesis,
# and then your last name.
# Example output: George (Woody) Washington.
first_name = "George"
last_name = "Washington"
nickname = "Woody"
print(f"{first_name} ({nickname}) {last_name}.")

George (Woody) Washington.

## Question 7

In [11]:

# Q7: Declare and assign values to suitable variables and print in the following way:
# NAME: NIKUNJ BANSAL
# SAP ID: 500069944
# DATE OF BIRTH: 13 Oct 1999
# ADDRESS: UPES
#          Bidholi Campus
#          Pincode: 248007
# Programme: AI & ML
# Semester: 2
name = "NIKUNJ BANSAL"
sap_id = 500069944
dob = "13 Oct 1999"
address = "UPES\nBidholi Campus\nPincode: 248007"
programme = "AI & ML"
semester = 2
print(f"NAME: {name}\nSAP ID: {sap_id}\nDATE OF BIRTH: {dob}\nADDRESS: {address}\nProgramme: {programme}\nSemester: {semester}")

NAME: NIKUNJ BANSAL
SAP ID: 500069944
DATE OF BIRTH: 13 Oct 1999
ADDRESS: UPES
Bidholi Campus
Pincode: 248007
Programme: AI & ML
Semester: 2